/* MG Omnibus Frontend Styles */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* Material Icons Support */
.mg-omnibus-price .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    gap: 5px;
    flex-wrap: wrap;
}

.mg-omnibus-label {
    font-weight: normal;
}

.mg-omnibus-amount {
    font-weight: bold;
}

.mg-omnibus-percent {
    margin-left: 5px;
    border-style: solid;
}

.mg-omnibus-price i,
.mg-omnibus-price img {
    vertical-align: middle;
}

/* --- DESKTOP STYLES (Default) --- */

/* Product Page */
.mg-omnibus-hook-product {
    display: var(--mg-omnibus-display-desktop-product);
    width: var(--mg-omnibus-width-desktop-product);
    background-color: var(--mg-omnibus-bg-color-desktop-product);
    border-color: var(--mg-omnibus-border-color-desktop-product);
    border-width: var(--mg-omnibus-border-width-desktop-product);
    padding: var(--mg-omnibus-padding-top-desktop-product) var(--mg-omnibus-padding-right-desktop-product) var(--mg-omnibus-padding-bottom-desktop-product) var(--mg-omnibus-padding-left-desktop-product);
}

.mg-omnibus-hook-product .mg-omnibus-label {
    color: var(--mg-omnibus-label-color-desktop-product);
    font-size: var(--mg-omnibus-label-font-size-desktop-product);
}

.mg-omnibus-hook-product .mg-omnibus-price {
    color: var(--mg-omnibus-price-color-desktop-product);
    font-size: var(--mg-omnibus-price-font-size-desktop-product);
    padding: var(--mg-omnibus-price-padding-top-desktop-product) var(--mg-omnibus-price-padding-right-desktop-product) var(--mg-omnibus-price-padding-bottom-desktop-product) var(--mg-omnibus-price-padding-left-desktop-product);
}

.mg-omnibus-hook-product .mg-omnibus-percent {
    color: var(--mg-omnibus-percent-color-desktop-product);
    font-size: var(--mg-omnibus-percent-font-size-desktop-product);
    background-color: var(--mg-omnibus-percent-bg-color-desktop-product);
    padding: var(--mg-omnibus-percent-padding-top-desktop-product) var(--mg-omnibus-percent-padding-right-desktop-product) var(--mg-omnibus-percent-padding-bottom-desktop-product) var(--mg-omnibus-percent-padding-left-desktop-product);
    border-radius: var(--mg-omnibus-percent-border-radius-desktop-product);
    border-width: var(--mg-omnibus-percent-border-width-desktop-product);
    border-color: var(--mg-omnibus-percent-border-color-desktop-product);
}

.mg-omnibus-hook-product .mg-omnibus-price i,
.mg-omnibus-hook-product .mg-omnibus-price img {
    color: var(--mg-omnibus-icon-color-desktop-product);
    font-size: var(--mg-omnibus-icon-size-desktop-product);
    max-height: var(--mg-omnibus-icon-size-desktop-product);
}

/* Listing */
.mg-omnibus-hook-listing {
    display: var(--mg-omnibus-display-desktop-listing);
    width: var(--mg-omnibus-width-desktop-listing);
    background-color: var(--mg-omnibus-bg-color-desktop-listing);
    border-color: var(--mg-omnibus-border-color-desktop-listing);
    border-width: var(--mg-omnibus-border-width-desktop-listing);
    padding: var(--mg-omnibus-padding-top-desktop-listing) var(--mg-omnibus-padding-right-desktop-listing) var(--mg-omnibus-padding-bottom-desktop-listing) var(--mg-omnibus-padding-left-desktop-listing);
}

.mg-omnibus-hook-listing .mg-omnibus-label {
    color: var(--mg-omnibus-label-color-desktop-listing);
    font-size: var(--mg-omnibus-label-font-size-desktop-listing);
}

.mg-omnibus-hook-listing .mg-omnibus-price {
    color: var(--mg-omnibus-price-color-desktop-listing);
    font-size: var(--mg-omnibus-price-font-size-desktop-listing);
    padding: var(--mg-omnibus-price-padding-top-desktop-listing) var(--mg-omnibus-price-padding-right-desktop-listing) var(--mg-omnibus-price-padding-bottom-desktop-listing) var(--mg-omnibus-price-padding-left-desktop-listing);
}

.mg-omnibus-hook-listing .mg-omnibus-percent {
    color: var(--mg-omnibus-percent-color-desktop-listing);
    font-size: var(--mg-omnibus-percent-font-size-desktop-listing);
    background-color: var(--mg-omnibus-percent-bg-color-desktop-listing);
    padding: var(--mg-omnibus-percent-padding-top-desktop-listing) var(--mg-omnibus-percent-padding-right-desktop-listing) var(--mg-omnibus-percent-padding-bottom-desktop-listing) var(--mg-omnibus-percent-padding-left-desktop-listing);
    border-radius: var(--mg-omnibus-percent-border-radius-desktop-listing);
    border-width: var(--mg-omnibus-percent-border-width-desktop-listing);
    border-color: var(--mg-omnibus-percent-border-color-desktop-listing);
}

.mg-omnibus-hook-listing .mg-omnibus-price i,
.mg-omnibus-hook-listing .mg-omnibus-price img {
    color: var(--mg-omnibus-icon-color-desktop-listing);
    font-size: var(--mg-omnibus-icon-size-desktop-listing);
    max-height: var(--mg-omnibus-icon-size-desktop-listing);
}

/* Quick View */
.mg-omnibus-hook-quickview {
    display: var(--mg-omnibus-display-desktop-quick);
    width: var(--mg-omnibus-width-desktop-quick);
    background-color: var(--mg-omnibus-bg-color-desktop-quick);
    border-color: var(--mg-omnibus-border-color-desktop-quick);
    border-width: var(--mg-omnibus-border-width-desktop-quick);
    padding: var(--mg-omnibus-padding-top-desktop-quick) var(--mg-omnibus-padding-right-desktop-quick) var(--mg-omnibus-padding-bottom-desktop-quick) var(--mg-omnibus-padding-left-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-label {
    color: var(--mg-omnibus-label-color-desktop-quick);
    font-size: var(--mg-omnibus-label-font-size-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-price {
    color: var(--mg-omnibus-price-color-desktop-quick);
    font-size: var(--mg-omnibus-price-font-size-desktop-quick);
    padding: var(--mg-omnibus-price-padding-top-desktop-quick) var(--mg-omnibus-price-padding-right-desktop-quick) var(--mg-omnibus-price-padding-bottom-desktop-quick) var(--mg-omnibus-price-padding-left-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-percent {
    color: var(--mg-omnibus-percent-color-desktop-quick);
    font-size: var(--mg-omnibus-percent-font-size-desktop-quick);
    background-color: var(--mg-omnibus-percent-bg-color-desktop-quick);
    padding: var(--mg-omnibus-percent-padding-top-desktop-quick) var(--mg-omnibus-percent-padding-right-desktop-quick) var(--mg-omnibus-percent-padding-bottom-desktop-quick) var(--mg-omnibus-percent-padding-left-desktop-quick);
    border-radius: var(--mg-omnibus-percent-border-radius-desktop-quick);
    border-width: var(--mg-omnibus-percent-border-width-desktop-quick);
    border-color: var(--mg-omnibus-percent-border-color-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-price i,
.mg-omnibus-hook-quickview .mg-omnibus-price img {
    color: var(--mg-omnibus-icon-color-desktop-quick);
    font-size: var(--mg-omnibus-icon-size-desktop-quick);
    max-height: var(--mg-omnibus-icon-size-desktop-quick);
}

/* --- MOBILE STYLES (Overrides) --- */
@media (max-width: 768px) {

    /* Product Page */
    .mg-omnibus-hook-product {
        display: var(--mg-omnibus-display-mobile-product);
        width: var(--mg-omnibus-width-mobile-product);
        background-color: var(--mg-omnibus-bg-color-mobile-product);
        border-color: var(--mg-omnibus-border-color-mobile-product);
        border-width: var(--mg-omnibus-border-width-mobile-product);
        padding: var(--mg-omnibus-padding-top-mobile-product) var(--mg-omnibus-padding-right-mobile-product) var(--mg-omnibus-padding-bottom-mobile-product) var(--mg-omnibus-padding-left-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-product);
        font-size: var(--mg-omnibus-label-font-size-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-product);
        font-size: var(--mg-omnibus-price-font-size-mobile-product);
        padding: var(--mg-omnibus-price-padding-top-mobile-product) var(--mg-omnibus-price-padding-right-mobile-product) var(--mg-omnibus-price-padding-bottom-mobile-product) var(--mg-omnibus-price-padding-left-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-product);
        font-size: var(--mg-omnibus-percent-font-size-mobile-product);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-product);
        padding: var(--mg-omnibus-percent-padding-top-mobile-product) var(--mg-omnibus-percent-padding-right-mobile-product) var(--mg-omnibus-percent-padding-bottom-mobile-product) var(--mg-omnibus-percent-padding-left-mobile-product);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-product);
        border-width: var(--mg-omnibus-percent-border-width-mobile-product);
        border-color: var(--mg-omnibus-percent-border-color-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-price i,
    .mg-omnibus-hook-product .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-product);
        font-size: var(--mg-omnibus-icon-size-mobile-product);
        max-height: var(--mg-omnibus-icon-size-mobile-product);
    }

    /* Listing */
    .mg-omnibus-hook-listing {
        display: var(--mg-omnibus-display-mobile-listing);
        width: var(--mg-omnibus-width-mobile-listing);
        background-color: var(--mg-omnibus-bg-color-mobile-listing);
        border-color: var(--mg-omnibus-border-color-mobile-listing);
        border-width: var(--mg-omnibus-border-width-mobile-listing);
        padding: var(--mg-omnibus-padding-top-mobile-listing) var(--mg-omnibus-padding-right-mobile-listing) var(--mg-omnibus-padding-bottom-mobile-listing) var(--mg-omnibus-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-listing);
        font-size: var(--mg-omnibus-label-font-size-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-listing);
        font-size: var(--mg-omnibus-price-font-size-mobile-listing);
        padding: var(--mg-omnibus-price-padding-top-mobile-listing) var(--mg-omnibus-price-padding-right-mobile-listing) var(--mg-omnibus-price-padding-bottom-mobile-listing) var(--mg-omnibus-price-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-listing);
        font-size: var(--mg-omnibus-percent-font-size-mobile-listing);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-listing);
        padding: var(--mg-omnibus-percent-padding-top-mobile-listing) var(--mg-omnibus-percent-padding-right-mobile-listing) var(--mg-omnibus-percent-padding-bottom-mobile-listing) var(--mg-omnibus-percent-padding-left-mobile-listing);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-listing);
        border-width: var(--mg-omnibus-percent-border-width-mobile-listing);
        border-color: var(--mg-omnibus-percent-border-color-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price i,
    .mg-omnibus-hook-listing .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-listing);
        font-size: var(--mg-omnibus-icon-size-mobile-listing);
        max-height: var(--mg-omnibus-icon-size-mobile-listing);
    }

    /* Quick View */
    .mg-omnibus-hook-quickview {
        display: var(--mg-omnibus-display-mobile-quick);
        width: var(--mg-omnibus-width-mobile-quick);
        background-color: var(--mg-omnibus-bg-color-mobile-quick);
        border-color: var(--mg-omnibus-border-color-mobile-quick);
        border-width: var(--mg-omnibus-border-width-mobile-quick);
        padding: var(--mg-omnibus-padding-top-mobile-quick) var(--mg-omnibus-padding-right-mobile-quick) var(--mg-omnibus-padding-bottom-mobile-quick) var(--mg-omnibus-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-quick);
        font-size: var(--mg-omnibus-label-font-size-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-quick);
        font-size: var(--mg-omnibus-price-font-size-mobile-quick);
        padding: var(--mg-omnibus-price-padding-top-mobile-quick) var(--mg-omnibus-price-padding-right-mobile-quick) var(--mg-omnibus-price-padding-bottom-mobile-quick) var(--mg-omnibus-price-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-quick);
        font-size: var(--mg-omnibus-percent-font-size-mobile-quick);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-quick);
        padding: var(--mg-omnibus-percent-padding-top-mobile-quick) var(--mg-omnibus-percent-padding-right-mobile-quick) var(--mg-omnibus-percent-padding-bottom-mobile-quick) var(--mg-omnibus-percent-padding-left-mobile-quick);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-quick);
        border-width: var(--mg-omnibus-percent-border-width-mobile-quick);
        border-color: var(--mg-omnibus-percent-border-color-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price i,
    .mg-omnibus-hook-quickview .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-quick);
        font-size: var(--mg-omnibus-icon-size-mobile-quick);
        max-height: var(--mg-omnibus-icon-size-mobile-quick);
    }
}

/* Icon Positioning */
.mg-omnibus-icon-end .mg-omnibus-price i,
.mg-omnibus-icon-end .mg-omnibus-price img {
    order: 10;
    margin-right: 0;
    margin-left: 5px;
}

/* --- Visibility Utilities --- */
@media (min-width: 769px) {

    .mg-desktop-percent-hide,
    .mg-desktop-icon-hide {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .mg-mobile-percent-hide,
    .mg-mobile-icon-hide {
        display: none !important;
    }
}

/* --- TOOLTIP STYLES --- */
.mg-omnibus-icon-wrapper {
    position: relative;
    border-width: var(--mg-omnibus-percent-border-width-desktop-listing);
    border-color: var(--mg-omnibus-percent-border-color-desktop-listing);
}

.mg-omnibus-hook-listing .mg-omnibus-price i,
.mg-omnibus-hook-listing .mg-omnibus-price img {
    color: var(--mg-omnibus-icon-color-desktop-listing);
    font-size: var(--mg-omnibus-icon-size-desktop-listing);
    max-height: var(--mg-omnibus-icon-size-desktop-listing);
}

/* Quick View */
.mg-omnibus-hook-quickview {
    display: var(--mg-omnibus-display-desktop-quick);
    width: var(--mg-omnibus-width-desktop-quick);
    background-color: var(--mg-omnibus-bg-color-desktop-quick);
    border-color: var(--mg-omnibus-border-color-desktop-quick);
    border-width: var(--mg-omnibus-border-width-desktop-quick);
    padding: var(--mg-omnibus-padding-top-desktop-quick) var(--mg-omnibus-padding-right-desktop-quick) var(--mg-omnibus-padding-bottom-desktop-quick) var(--mg-omnibus-padding-left-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-label {
    color: var(--mg-omnibus-label-color-desktop-quick);
    font-size: var(--mg-omnibus-label-font-size-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-price {
    color: var(--mg-omnibus-price-color-desktop-quick);
    font-size: var(--mg-omnibus-price-font-size-desktop-quick);
    padding: var(--mg-omnibus-price-padding-top-desktop-quick) var(--mg-omnibus-price-padding-right-desktop-quick) var(--mg-omnibus-price-padding-bottom-desktop-quick) var(--mg-omnibus-price-padding-left-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-percent {
    color: var(--mg-omnibus-percent-color-desktop-quick);
    font-size: var(--mg-omnibus-percent-font-size-desktop-quick);
    background-color: var(--mg-omnibus-percent-bg-color-desktop-quick);
    padding: var(--mg-omnibus-percent-padding-top-desktop-quick) var(--mg-omnibus-percent-padding-right-desktop-quick) var(--mg-omnibus-percent-padding-bottom-desktop-quick) var(--mg-omnibus-percent-padding-left-desktop-quick);
    border-radius: var(--mg-omnibus-percent-border-radius-desktop-quick);
    border-width: var(--mg-omnibus-percent-border-width-desktop-quick);
    border-color: var(--mg-omnibus-percent-border-color-desktop-quick);
}

.mg-omnibus-hook-quickview .mg-omnibus-price i,
.mg-omnibus-hook-quickview .mg-omnibus-price img {
    color: var(--mg-omnibus-icon-color-desktop-quick);
    font-size: var(--mg-omnibus-icon-size-desktop-quick);
    max-height: var(--mg-omnibus-icon-size-desktop-quick);
}

/* --- MOBILE STYLES (Overrides) --- */
@media (max-width: 768px) {

    /* Product Page */
    .mg-omnibus-hook-product {
        display: var(--mg-omnibus-display-mobile-product);
        width: var(--mg-omnibus-width-mobile-product);
        background-color: var(--mg-omnibus-bg-color-mobile-product);
        border-color: var(--mg-omnibus-border-color-mobile-product);
        border-width: var(--mg-omnibus-border-width-mobile-product);
        padding: var(--mg-omnibus-padding-top-mobile-product) var(--mg-omnibus-padding-right-mobile-product) var(--mg-omnibus-padding-bottom-mobile-product) var(--mg-omnibus-padding-left-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-product);
        font-size: var(--mg-omnibus-label-font-size-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-product);
        font-size: var(--mg-omnibus-price-font-size-mobile-product);
        padding: var(--mg-omnibus-price-padding-top-mobile-product) var(--mg-omnibus-price-padding-right-mobile-product) var(--mg-omnibus-price-padding-bottom-mobile-product) var(--mg-omnibus-price-padding-left-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-product);
        font-size: var(--mg-omnibus-percent-font-size-mobile-product);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-product);
        padding: var(--mg-omnibus-percent-padding-top-mobile-product) var(--mg-omnibus-percent-padding-right-mobile-product) var(--mg-omnibus-percent-padding-bottom-mobile-product) var(--mg-omnibus-percent-padding-left-mobile-product);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-product);
        border-width: var(--mg-omnibus-percent-border-width-mobile-product);
        border-color: var(--mg-omnibus-percent-border-color-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-price i,
    .mg-omnibus-hook-product .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-product);
        font-size: var(--mg-omnibus-icon-size-mobile-product);
        max-height: var(--mg-omnibus-icon-size-mobile-product);
    }

    /* Listing */
    .mg-omnibus-hook-listing {
        display: var(--mg-omnibus-display-mobile-listing);
        width: var(--mg-omnibus-width-mobile-listing);
        background-color: var(--mg-omnibus-bg-color-mobile-listing);
        border-color: var(--mg-omnibus-border-color-mobile-listing);
        border-width: var(--mg-omnibus-border-width-mobile-listing);
        padding: var(--mg-omnibus-padding-top-mobile-listing) var(--mg-omnibus-padding-right-mobile-listing) var(--mg-omnibus-padding-bottom-mobile-listing) var(--mg-omnibus-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-listing);
        font-size: var(--mg-omnibus-label-font-size-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-listing);
        font-size: var(--mg-omnibus-price-font-size-mobile-listing);
        padding: var(--mg-omnibus-price-padding-top-mobile-listing) var(--mg-omnibus-price-padding-right-mobile-listing) var(--mg-omnibus-price-padding-bottom-mobile-listing) var(--mg-omnibus-price-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-listing);
        font-size: var(--mg-omnibus-percent-font-size-mobile-listing);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-listing);
        padding: var(--mg-omnibus-percent-padding-top-mobile-listing) var(--mg-omnibus-percent-padding-right-mobile-listing) var(--mg-omnibus-percent-padding-bottom-mobile-listing) var(--mg-omnibus-percent-padding-left-mobile-listing);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-listing);
        border-width: var(--mg-omnibus-percent-border-width-mobile-listing);
        border-color: var(--mg-omnibus-percent-border-color-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price i,
    .mg-omnibus-hook-listing .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-listing);
        font-size: var(--mg-omnibus-icon-size-mobile-listing);
        max-height: var(--mg-omnibus-icon-size-mobile-listing);
    }

    /* Quick View */
    .mg-omnibus-hook-quickview {
        display: var(--mg-omnibus-display-mobile-quick);
        width: var(--mg-omnibus-width-mobile-quick);
        background-color: var(--mg-omnibus-bg-color-mobile-quick);
        border-color: var(--mg-omnibus-border-color-mobile-quick);
        border-width: var(--mg-omnibus-border-width-mobile-quick);
        padding: var(--mg-omnibus-padding-top-mobile-quick) var(--mg-omnibus-padding-right-mobile-quick) var(--mg-omnibus-padding-bottom-mobile-quick) var(--mg-omnibus-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-quick);
        font-size: var(--mg-omnibus-label-font-size-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-quick);
        font-size: var(--mg-omnibus-price-font-size-mobile-quick);
        padding: var(--mg-omnibus-price-padding-top-mobile-quick) var(--mg-omnibus-price-padding-right-mobile-quick) var(--mg-omnibus-price-padding-bottom-mobile-quick) var(--mg-omnibus-price-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-quick);
        font-size: var(--mg-omnibus-percent-font-size-mobile-quick);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-quick);
        padding: var(--mg-omnibus-percent-padding-top-mobile-quick) var(--mg-omnibus-percent-padding-right-mobile-quick) var(--mg-omnibus-percent-padding-bottom-mobile-quick) var(--mg-omnibus-percent-padding-left-mobile-quick);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-quick);
        border-width: var(--mg-omnibus-percent-border-width-mobile-quick);
        border-color: var(--mg-omnibus-percent-border-color-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price i,
    .mg-omnibus-hook-quickview .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-quick);
        font-size: var(--mg-omnibus-icon-size-mobile-quick);
        max-height: var(--mg-omnibus-icon-size-mobile-quick);
    }
}

/* Icon Positioning */
.mg-omnibus-icon-end .mg-omnibus-price i,
.mg-omnibus-icon-end .mg-omnibus-price img {
    order: 10;
    margin-right: 0;
    margin-left: 5px;
}

/* --- Visibility Utilities --- */
@media (min-width: 769px) {

    .mg-desktop-percent-hide,
    .mg-desktop-icon-hide {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .mg-mobile-percent-hide,
    .mg-mobile-icon-hide {
        display: none !important;
    }
}

/* --- TOOLTIP STYLES --- */
.mg-omnibus-icon-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: help;
}

.mg-omnibus-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
    white-space: normal;
    line-height: 1.4;
}

.mg-omnibus-icon-wrapper:hover .mg-omnibus-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Desktop Tooltips */
.mg-omnibus-hook-product .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-product);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-product);
    color: var(--mg-omnibus-tooltip-color-desktop-product);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-product);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-product);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-product);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-product) var(--mg-omnibus-tooltip-padding-right-desktop-product) var(--mg-omnibus-tooltip-padding-bottom-desktop-product) var(--mg-omnibus-tooltip-padding-left-desktop-product);
}

.mg-omnibus-hook-listing .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-listing);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-listing);
    color: var(--mg-omnibus-tooltip-color-desktop-listing);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-listing);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-listing);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-listing);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-listing) var(--mg-omnibus-tooltip-padding-right-desktop-listing) var(--mg-omnibus-tooltip-padding-bottom-desktop-listing) var(--mg-omnibus-tooltip-padding-left-desktop-listing);
}

.mg-omnibus-hook-quickview .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-quick);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-quick);
    color: var(--mg-omnibus-tooltip-color-desktop-quick);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-quick);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-quick);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-quick);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-quick) var(--mg-omnibus-tooltip-padding-right-desktop-quick) var(--mg-omnibus-tooltip-padding-bottom-desktop-quick) var(--mg-omnibus-tooltip-padding-left-desktop-quick);
}

/* Mobile Tooltips */
@media (max-width: 768px) {
    .mg-omnibus-hook-product .mg-omnibus-tooltip {
        width: var(--mg-omnibus-tooltip-width-mobile-product);
        background-color: var(--mg-omnibus-tooltip-bg-color-mobile-product);
        color: var(--mg-omnibus-tooltip-color-mobile-product);
        border-color: var(--mg-omnibus-tooltip-border-color-mobile-product);
        border-width: var(--mg-omnibus-tooltip-border-width-mobile-product);
        font-size: var(--mg-omnibus-tooltip-font-size-mobile-product);
        padding: var(--mg-omnibus-tooltip-padding-top-mobile-product) var(--mg-omnibus-tooltip-padding-right-mobile-product) var(--mg-omnibus-tooltip-padding-bottom-mobile-product) var(--mg-omnibus-tooltip-padding-left-mobile-product);
    }

    .mg-omnibus-hook-listing .mg-omnibus-tooltip {
        width: var(--mg-omnibus-tooltip-width-mobile-listing);
        background-color: var(--mg-omnibus-tooltip-bg-color-mobile-listing);
        color: var(--mg-omnibus-tooltip-color-mobile-listing);
        border-color: var(--mg-omnibus-tooltip-border-color-mobile-listing);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-product);
        padding: var(--mg-omnibus-percent-padding-top-mobile-product) var(--mg-omnibus-percent-padding-right-mobile-product) var(--mg-omnibus-percent-padding-bottom-mobile-product) var(--mg-omnibus-percent-padding-left-mobile-product);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-product);
        border-width: var(--mg-omnibus-percent-border-width-mobile-product);
        border-color: var(--mg-omnibus-percent-border-color-mobile-product);
    }

    .mg-omnibus-hook-product .mg-omnibus-price i,
    .mg-omnibus-hook-product .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-product);
        font-size: var(--mg-omnibus-icon-size-mobile-product);
        max-height: var(--mg-omnibus-icon-size-mobile-product);
    }

    /* Listing */
    .mg-omnibus-hook-listing {
        display: var(--mg-omnibus-display-mobile-listing);
        width: var(--mg-omnibus-width-mobile-listing);
        background-color: var(--mg-omnibus-bg-color-mobile-listing);
        border-color: var(--mg-omnibus-border-color-mobile-listing);
        border-width: var(--mg-omnibus-border-width-mobile-listing);
        padding: var(--mg-omnibus-padding-top-mobile-listing) var(--mg-omnibus-padding-right-mobile-listing) var(--mg-omnibus-padding-bottom-mobile-listing) var(--mg-omnibus-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-listing);
        font-size: var(--mg-omnibus-label-font-size-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-listing);
        font-size: var(--mg-omnibus-price-font-size-mobile-listing);
        padding: var(--mg-omnibus-price-padding-top-mobile-listing) var(--mg-omnibus-price-padding-right-mobile-listing) var(--mg-omnibus-price-padding-bottom-mobile-listing) var(--mg-omnibus-price-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-listing);
        font-size: var(--mg-omnibus-percent-font-size-mobile-listing);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-listing);
        padding: var(--mg-omnibus-percent-padding-top-mobile-listing) var(--mg-omnibus-percent-padding-right-mobile-listing) var(--mg-omnibus-percent-padding-bottom-mobile-listing) var(--mg-omnibus-percent-padding-left-mobile-listing);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-listing);
        border-width: var(--mg-omnibus-percent-border-width-mobile-listing);
        border-color: var(--mg-omnibus-percent-border-color-mobile-listing);
    }

    .mg-omnibus-hook-listing .mg-omnibus-price i,
    .mg-omnibus-hook-listing .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-listing);
        font-size: var(--mg-omnibus-icon-size-mobile-listing);
        max-height: var(--mg-omnibus-icon-size-mobile-listing);
    }

    /* Quick View */
    .mg-omnibus-hook-quickview {
        display: var(--mg-omnibus-display-mobile-quick);
        width: var(--mg-omnibus-width-mobile-quick);
        background-color: var(--mg-omnibus-bg-color-mobile-quick);
        border-color: var(--mg-omnibus-border-color-mobile-quick);
        border-width: var(--mg-omnibus-border-width-mobile-quick);
        padding: var(--mg-omnibus-padding-top-mobile-quick) var(--mg-omnibus-padding-right-mobile-quick) var(--mg-omnibus-padding-bottom-mobile-quick) var(--mg-omnibus-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-label {
        color: var(--mg-omnibus-label-color-mobile-quick);
        font-size: var(--mg-omnibus-label-font-size-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price {
        color: var(--mg-omnibus-price-color-mobile-quick);
        font-size: var(--mg-omnibus-price-font-size-mobile-quick);
        padding: var(--mg-omnibus-price-padding-top-mobile-quick) var(--mg-omnibus-price-padding-right-mobile-quick) var(--mg-omnibus-price-padding-bottom-mobile-quick) var(--mg-omnibus-price-padding-left-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-percent {
        color: var(--mg-omnibus-percent-color-mobile-quick);
        font-size: var(--mg-omnibus-percent-font-size-mobile-quick);
        background-color: var(--mg-omnibus-percent-bg-color-mobile-quick);
        padding: var(--mg-omnibus-percent-padding-top-mobile-quick) var(--mg-omnibus-percent-padding-right-mobile-quick) var(--mg-omnibus-percent-padding-bottom-mobile-quick) var(--mg-omnibus-percent-padding-left-mobile-quick);
        border-radius: var(--mg-omnibus-percent-border-radius-mobile-quick);
        border-width: var(--mg-omnibus-percent-border-width-mobile-quick);
        border-color: var(--mg-omnibus-percent-border-color-mobile-quick);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-price i,
    .mg-omnibus-hook-quickview .mg-omnibus-price img {
        color: var(--mg-omnibus-icon-color-mobile-quick);
        font-size: var(--mg-omnibus-icon-size-mobile-quick);
        max-height: var(--mg-omnibus-icon-size-mobile-quick);
    }
}

/* Icon Positioning */
.mg-omnibus-icon-end .mg-omnibus-price i,
.mg-omnibus-icon-end .mg-omnibus-price img {
    order: 10;
    margin-right: 0;
    margin-left: 5px;
}

/* --- Visibility Utilities --- */
@media (min-width: 769px) {

    .mg-desktop-percent-hide,
    .mg-desktop-icon-hide {
        display: none !important;
    }
}

@media (max-width: 768px) {

    .mg-mobile-percent-hide,
    .mg-mobile-icon-hide {
        display: none !important;
    }
}

/* --- TOOLTIP STYLES --- */
.mg-omnibus-icon-wrapper {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: help;
}

.mg-omnibus-tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 1000;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
    white-space: normal;
    line-height: 1.4;
}

.mg-omnibus-icon-wrapper:hover .mg-omnibus-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Desktop Tooltips */
.mg-omnibus-hook-product .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-product);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-product);
    color: var(--mg-omnibus-tooltip-color-desktop-product);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-product);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-product);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-product);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-product) var(--mg-omnibus-tooltip-padding-right-desktop-product) var(--mg-omnibus-tooltip-padding-bottom-desktop-product) var(--mg-omnibus-tooltip-padding-left-desktop-product);
}

.mg-omnibus-hook-listing .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-listing);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-listing);
    color: var(--mg-omnibus-tooltip-color-desktop-listing);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-listing);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-listing);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-listing);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-listing) var(--mg-omnibus-tooltip-padding-right-desktop-listing) var(--mg-omnibus-tooltip-padding-bottom-desktop-listing) var(--mg-omnibus-tooltip-padding-left-desktop-listing);
}

.mg-omnibus-hook-quickview .mg-omnibus-tooltip {
    width: var(--mg-omnibus-tooltip-width-desktop-quick);
    background-color: var(--mg-omnibus-tooltip-bg-color-desktop-quick);
    color: var(--mg-omnibus-tooltip-color-desktop-quick);
    border-color: var(--mg-omnibus-tooltip-border-color-desktop-quick);
    border-width: var(--mg-omnibus-tooltip-border-width-desktop-quick);
    font-size: var(--mg-omnibus-tooltip-font-size-desktop-quick);
    padding: var(--mg-omnibus-tooltip-padding-top-desktop-quick) var(--mg-omnibus-tooltip-padding-right-desktop-quick) var(--mg-omnibus-tooltip-padding-bottom-desktop-quick) var(--mg-omnibus-tooltip-padding-left-desktop-quick);
}

/* Mobile Tooltips */
@media (max-width: 768px) {
    .mg-omnibus-hook-product .mg-omnibus-tooltip {
        width: var(--mg-omnibus-tooltip-width-mobile-product);
        background-color: var(--mg-omnibus-tooltip-bg-color-mobile-product);
        color: var(--mg-omnibus-tooltip-color-mobile-product);
        border-color: var(--mg-omnibus-tooltip-border-color-mobile-product);
        border-width: var(--mg-omnibus-tooltip-border-width-mobile-product);
        font-size: var(--mg-omnibus-tooltip-font-size-mobile-product);
        padding: var(--mg-omnibus-tooltip-padding-top-mobile-product) var(--mg-omnibus-tooltip-padding-right-mobile-product) var(--mg-omnibus-tooltip-padding-bottom-mobile-product) var(--mg-omnibus-tooltip-padding-left-mobile-product);
    }

    .mg-omnibus-hook-listing .mg-omnibus-tooltip {
        width: var(--mg-omnibus-tooltip-width-mobile-listing);
        background-color: var(--mg-omnibus-tooltip-bg-color-mobile-listing);
        color: var(--mg-omnibus-tooltip-color-mobile-listing);
        border-color: var(--mg-omnibus-tooltip-border-color-mobile-listing);
        border-width: var(--mg-omnibus-tooltip-border-width-mobile-listing);
        font-size: var(--mg-omnibus-tooltip-font-size-mobile-listing);
        padding: var(--mg-omnibus-tooltip-padding-top-mobile-listing) var(--mg-omnibus-tooltip-padding-right-mobile-listing) var(--mg-omnibus-tooltip-padding-bottom-mobile-listing) var(--mg-omnibus-tooltip-padding-left-mobile-listing);
    }

    .mg-omnibus-hook-quickview .mg-omnibus-tooltip {
        width: var(--mg-omnibus-tooltip-width-mobile-quick);
        background-color: var(--mg-omnibus-tooltip-bg-color-mobile-quick);
        color: var(--mg-omnibus-tooltip-color-mobile-quick);
        border-color: var(--mg-omnibus-tooltip-border-color-mobile-quick);
        border-width: var(--mg-omnibus-tooltip-border-width-mobile-quick);
        font-size: var(--mg-omnibus-tooltip-font-size-mobile-quick);
        padding: var(--mg-omnibus-tooltip-padding-top-mobile-quick) var(--mg-omnibus-tooltip-padding-right-mobile-quick) var(--mg-omnibus-tooltip-padding-bottom-mobile-quick) var(--mg-omnibus-tooltip-padding-left-mobile-quick);
    }

    /* Mobile Tooltip Positioning Fix */
    .mg-omnibus-icon-start .mg-omnibus-tooltip {
        left: 0;
        transform: none;
        right: auto;
    }

    .mg-omnibus-icon-end .mg-omnibus-tooltip {
        left: auto;
        right: 0;
        transform: none;
    }
}